{% extends 'base.html' %}
{% block title %}List{% endblock %}
{% block content %}
<!-- # 현재 페이지 bookmark namesapce create pattern-->
<!-- a href="#" target="_blank" class="btn btn-info">Create</a-->
<a href="{% url 'bookmark:create' %}" target="_top" class="btn btn-info">Create</a>

<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>Site</th>
            <th>URL</th>
            <th>Modify</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        <!--//
        "{ % % }" : 기능 문법
        "{ { } }" : 출력 문법
        //-->
        {% for bookmark in object_list %}
            <tr>
                <!-- 불러오는 순서 -->
                <td>{{ forloop.counter }}</td>
                <td>{{ bookmark.site_name }}</td>
                <td><a href="{{ bookmark.url }}" target="_blank">{{ bookmark.url }}</a></td>
                <td><a href="{% url 'bookmark:update' pk=bookmark.id %}" class="btn btn-success btn-sm">modify</a></td>
                <td><a href="{% url 'bookmark:delete' pk=bookmark.id %}" class="btn btn-danger btn-sm">delete</a></td>
            </tr>
        {% endfor %}

    </tbody>
</table>
{% endblock %}